<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="images/icon.png"/>
    <title>Xtreme Lashes® by Jo Mousselli</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link rel="stylesheet" type="text/css" href="css/hr.css">
    <link rel="stylesheet" type="text/css" href="css/EE.css">
    <link rel="stylesheet" type="text/css" href="css/about.css">
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-3">
      <div class="container-fluid "><a href="index.html">
        <img src="images/logo.png" class="img-responsive logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav gotham-book ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="aboutus.html">ABOUT US
               
              </a>       
            </li>
             <li class="nav-item">
              <a class="nav-link" href="eyelash-extension.html">EYELASH EXTENSIONS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="what-to-expect.html">WHAT TO EXPECT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="accessories.html">ACCESSORIES</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="training.html">TRAINING</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="gallery.html">GALLERY</a>
            </li>
             <li class="nav-item active">
              <a class="nav-link" href="contactus.html">CONTACT US <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    

 <!-- Page Content -->
<div class="container-fluid contact-form2" style="background: url(images/contact/mybg.png);">
<div class="container transparentbox2 shadow p-3 rounded" >
 	

	
<div class="row"> 
<div class="col-md-12">
	<input type="text" name="name" class="form-input2" placeholder="FULL NAME">
</div>
<div class="col-md-6">
  <input type="number" name="name" class="form-input2" placeholder="PHONE NO">
</div>
<div class="col-md-6">
  <input type="email" name="name" class="form-input2" placeholder="EMAIL ADDRESS">
</div>
<div class="col-md-6">
  <input type="email" name="name" class="form-input2" placeholder="BOOKING DATE (Sunday not available)">
</div>
<div class="col-md-6">
  <select class="form-input2" >
    <option>BOOKING LOCATION</option>
  <option>lorem ipsum</option>
  <option>lorem ipsum</option>
</select>
</div>
<div class="col-md-6">
  <select class="form-input2" >
    <option>BOOKING TIME (option 1)</option>
  <option>lorem ipsum</option>
  <option>lorem ipsum</option>
</select>
</div>
<div class="col-md-6">
  <select class="form-input2" >
    <option>BOOKING TIME (option 2)</option>
 <option>lorem ipsum</option>
 <option>lorem ipsum</option>
</select>
</div>
<div class="col-md-12">
  <textarea class="form-input2" rows="8" >MESSAGE</textarea>

    <center>         <button class="btn btna btn-outline-white book-btn2">BOOK NOW</button></center>
  
</div>



 </div>
 </div>

  
</div>


<section >

 <div class="row mt-1" >
   
  <div class="col-md-12 d-none d-md-block text-center"><br><br><h1 class="h1hrd">CENTRAL FLAGSHIP</h1></div> 
 <div class="col-md-4 d-block d-xs-block d-sm-block d-md-none d-lg-none"><hr class="Ahra"></div>
  <div class="col-md-4 d-block d-xs-block d-sm-block d-md-none d-lg-none"><h1 class="Aha">CENTRAL FLAGSHIP</h1></div> 
<div class="col-md-4 d-block d-xs-block d-sm-block d-md-none d-lg-none"><hr class="Ahra"></div>

  </div>

 <div class="row sec2">
            <div class="col-md-4 left">
              <div class="mycontainer">
                <img src="images/contact/leftblock1.png" style="width:100%;">
                  <div class="centered-con">
                     <center><h2 class="contact-ha" >GET<br>IN<br>TOUCH<br></h2>
                      <hr class="hr-light">
                    

                    <p class="contact-pa" style="padding: 0;">
                        Phone: (852) 3708-8961<br>
            Email: info@xtremelashes.com.hk</p>
                 

                    <p class="contact-pa">
                        3/F, V Plus<br>
            68-70 Wellington Street Central<br>
            Hong Kong
                       </p>

                     </center> 
                  </div>
                 


                </div>
              </div>
               <div class="col-md-8 right">
              <div class="mycontainer">
                <img src="images/contact/rightblock1.png" style="width:100%;">
                 
                </div>
              </div>
               <div class="col-md-12"><center>
                <h1 class="Asec4h1" style="color: #000; margin-top: 50px;">A SMALL CHANGE<br>A BIG DIFFERENCE</h1>
                <button class="btn btna btn-outline-black">READ OUR CUSTOMER TESTIMONIALS</button></center></div>
                 

            </div>

              
</section>



<section >

 <div class="row mt-1" >
   
  <div class="col-md-12 d-none d-md-block text-center"><br><br><h1 class="h1hre">TSIM SHA TSUI FLAGSHIP</h1></div> 
 <div class="col-md-4 d-block d-xs-block d-sm-block d-md-none d-lg-none"><hr class="Ahra"></div>
  <div class="col-md-4 d-block d-xs-block d-sm-block d-md-none d-lg-none"><h1 class="Aha">TSIM SHA TSUI FLAGSHIP</h1></div> 
<div class="col-md-4 d-block d-xs-block d-sm-block d-md-none d-lg-none"><hr class="Ahra"></div>

  </div>

 <div class="row sec2">
            <div class="col-md-8 left">

              <div class="mycontainer">
                <img src="images/contact/rightblock1.png" style="width:100%;">
                 
                </div>
              
              </div>
               <div class="col-md-4 right">
              
                <div class="mycontainer">
                <img src="images/contact/leftblock1.png" style="width:100%;">
                  <div class="centered-con">
                     <center><h2 class="contact-ha" >GET<br>IN<br>TOUCH<br></h2>
                      <hr class="hr-light">
                    

                    <p class="contact-pa" style="padding: 0;">
                        Phone: (852) 3708-8961<br>
            Email: info@xtremelashes.com.hk</p>
                 

                    <p class="contact-pa">
                        3/F, V Plus<br>
            68-70 Wellington Street Central<br>
            Hong Kong
                       </p>

                     </center> 
                  </div>
                 


                </div>
              </div>
            </div>

</section>


<section >

 <div class="row mt-5" >
   
  <div class="col-md-12 d-none d-md-block text-center"><br><br><h1 class="h1hrb">ALTERNATIVE SERVICE AREAS</h1></div> 
 <div class="col-md-4 d-block d-xs-block d-sm-block d-md-none d-lg-none"><hr class="Ahra"></div>
  <div class="col-md-4 d-block d-xs-block d-sm-block d-md-none d-lg-none"><h1 class="Aha">ALTERNATIVE SERVICE AREAS</h1></div> 
<div class="col-md-4 d-block d-xs-block d-sm-block d-md-none d-lg-none"><hr class="Ahra"></div>

  </div>

  <div class="container">
 <center>
<p class="Asec3-text">
See below the full list of locations that offer Xtreme Eyelashes®<br>
Eyelash Extensions services by our liscensed professionals.
</p>
</center>
<div class="row" style="margin-bottom: 5%;">
  <div class="col-md-4">
    <center>
      <p class="Asec3-text">
      <b>LOCATION NAME 1</b><br>
      Address Line 1<br>
      Address Line 2<br>
    </center>
  </div>
  <div class="col-md-4">
    <center>
      <p class="Asec3-text">
      <b>LOCATION NAME 2</b><br>
      Address Line 1<br>
      Address Line 2<br>
    </center>
  </div>
  <div class="col-md-4">
    <center>
      <p class="Asec3-text">
      <b>LOCATION NAME 3</b><br>
      Address Line 1<br>
      Address Line 2<br>
    </center>
  </div>
  <div class="col-md-4">
    <center>
      <p class="Asec3-text">
      <b>LOCATION NAME 4</b><br>
      Address Line 1<br>
      Address Line 2<br>
    </center>
  </div>
  <div class="col-md-4">
    <center>
      <p class="Asec3-text">
      <b>LOCATION NAME 5</b><br>
      Address Line 1<br>
      Address Line 2<br>
    </center>
  </div>
  <div class="col-md-4">
    <center>
      <p class="Asec3-text">
      <b>LOCATION NAME 6</b><br>
      Address Line 1<br>
      Address Line 2<br>
    </center>
  </div>
  <div class="col-md-4">
    <center>
      <p class="Asec3-text">
      <b>LOCATION NAME 7</b><br>
      Address Line 1<br>
      Address Line 2<br>
    </center>
  </div><div class="col-md-4">
    <center>
      <p class="Asec3-text">
      <b>LOCATION NAME 8</b><br>
      Address Line 1<br>
      Address Line 2<br>
    </center>
  </div><div class="col-md-4">
    <center>
      <p class="Asec3-text">
      <b>LOCATION NAME 9</b><br>
      Address Line 1<br>
      Address Line 2<br>
    </center>
  </div>
</div>
</section>





<!-- footer -->
<section class="sec7" >
<div class="container">
<center>  
<a href=""> <img src="images/ff.png" class="img-responsive img-icon" ></a>
<a href=""> <img src="images/i.png"  class="img-responsive img-icon" ></a>
<a href=""> <img src="images/y.png"  class="img-responsive img-icon" ></a></center>
</div>
</section>
              
<section >
 <div class="container-fluid sec8" style="background-color: #000;"> 
<div class="container">
  <div class="row">
   
    <div class="col-md-6">
      <center><h2 class="block2h2  d-block" >NEWSLETTER</h2>
                      <hr class="hr-light">

                    <p class="block2pa d-block">
                      Sign-up our newsletter to be the first to know<br>
                      about sales, new products and exclusive offers.
                       </p>
                       
                     </center> 
      
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <input type="Email" name="email" placeholder="E-MAIL ADDRESS" class="email">
      <br>
      <button class="btn btna btn-outline-white">SUBSCRIBE</button>


    </div>
    
    
  </div>
</div>
 </div>
 </section>














    <!-- Footer -->
    <footer class="py-5 bg-light">
       <div class="container"><center>
            <p class="footer1"> PRESS & MEDIA INQUIRIES: PR@XTREMELASHES.COM.HK  &emsp;  ABOUT US   &emsp;  TERMS AND CONDITIONS</p><br>
            <p class="footer2">© 2005 - 2017 Xtreme Lashes®, LLC. All Rights Reserved.</p></center>
        </div>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
